/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    width: 100%;
    height: 100%;
}
#container {
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #737373;
}
#shop_items {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 70%;
    height: 100%;
}
#shop_cart {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 30%;
    min-width: 300px;
    height: 100%;
    border-left: 1px solid #ddd;
}
.shop_titlebar {
    border-bottom: 1px solid #ddd;
    font-size: 1.1em;
    padding: 12px;
    font-weight: 600;
}
#shop_total {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 30%;
    min-width: 300px;
    border-top: 1px solid #ddd;
    z-index: 10;
    background: #fff;
}
.shop_total {
    float: right;
    font-weight: 600;
    font-size: 1.1em;
    padding-top: 12px;
    padding-right: 12px;
}
.shop_total_text {

}
.shop_total_currency {
    color: #ed145b;
}
#shop_title {
    position: fixed;
    width: 30%;
    min-width: 300px;
    background: #fff;
}
#shop_total .shop_titlebar {
    border: none;
    float: left;
}
#shop_cart_items {
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
    list-style: none;
    overflow: auto;
    height: 100%;
}
.shop_cart_item {
    border-bottom: 1px solid #ddd;
    font-size: 1.0em;
    padding: 12px;
    z-index: 1;
}
.shop_cart_item:hover {
    background: #f3f3f3;
}
.shop_cart_item_text {
    float: left;
}
.shop_cart_item_price {
    float: right;
}
.shop_cart_item_action {
    float: right;
    margin-left: 10px;
    font-weight: 600;
}
#shop_items_holder {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.shop_item {
    height: 150px;
    margin: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.shop_item_pic {
    width: 150px;
    height: 150px;
    float: left;
    border: 1px solid #ddd;
}
.shop_item_content {
    float: left;
    height: 150px;
    padding: 5px 10px;
}
.shop_item_content_texts {
    height: 105px;
}
.shop_item_content h1 {
    margin: 0px;
    padding: 0px;
    font-size: 1.1em;
    font-weight: 600;
}
.shop_item_content p {
    margin: 0px;
    padding: 0px;
    font-size: 0.9em;
}
.shop_item_price {
    float: right;
    width: 150px;
    height: 150px;
    text-align: center;
    color: #4f4f4f;
}
.shop_item_price div {
    padding: 0px;
    margin: 0px;
    margin-top: -10px;
    margin-bottom: 7px;
    font-weight: 600;
}
.shop_item_number {
    font-size: 5em;
}
.shop_item_currency {
    font-size: 1.7em;
}
.general_button {
    background: #f3f3f3;
    border: 1px solid #ddd;
    font-size: 1.1em;
    font-weight: 400;
    padding: 5px 10px;
}
.general_button:hover {
    background: #f0f0f0;
    border-color: #ccc;
}
.clear {
    clear: both;
}











/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}